@page

<!DOCTYPE html>
<html>
<head>
    <base href="/" />
    <title>PugClient</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- libs:css -->
    <link rel="stylesheet" href="/libs/bootstrap.css">
    <link rel="stylesheet" href="/libs/font-awesome.css">
    <!-- endinject -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- libs:js -->
    <script src="/libs/shim.min.js"></script>
    <script src="/libs/zone.js"></script>
    <script src="/libs/system.src.js"></script>
    <!-- endinject -->
    <script src="/systemjs.config.js"></script>
    <script>
        System.import('app').catch(function(err) { console.error(err); });
    </script>
</head>
<body>
    <pug-client-app>Loading...</pug-client-app>
</body>
</html>
