<div class="titleArea">
    <h1>PUG #12345</h1>
    <p>(Jedi Knight Academy > CTF PUG > europug)</p>
</div>
<div class="teamArea">
    <pug-team [team]="pug.teams[0]"></pug-team>
    <div class="action">
        <pug-phase-title [pug]="pug"></pug-phase-title>
        <pug-player-picker [players]="pug.pickablePlayers" (playerPicked)="onPlayerPicked($event)"></pug-player-picker>
    </div>
    <pug-team [team]="pug.teams[1]"></pug-team>
</div>
<div class="clearfix"></div>
<div class="playerArea"></div>
