<div class="titleArea">
    <h1>PUG #12345</h1>
    <p>(Jedi Knight Academy > CTF PUG > europug)</p>
</div>
<div class="teamArea">
    <div class="team team-left">
        <h2>{{ "pug.labels.team" | translate:pug.teams[0] }}</h2>
        <p>Captain: {{ pug.teams[0].captain.name }}</p>

        <p>{{ "pug.labels.team_members" | translate }}</p>
        <ul>
            <li *ngFor="let player of pug.teams[0].players">{{player.name}}</li>
        </ul>
    </div>
    <div class="action">
        <h2>{{phaseString}}</h2>
        <pug-player-picker [players]="pug.pickablePlayers" (playerPicked)="onPlayerPicked($event)"></pug-player-picker>
    </div>
    <div class="team team-right">
        <h2>{{ "pug.labels.team" | translate:pug.teams[1] }}</h2>
        <p>Captain: {{ pug.teams[1].captain.name }}</p>

        <p>{{ "pug.labels.team_members" | translate }}</p>
        <ul>
            <li *ngFor="let player of pug.teams[1].players">{{player.name}}</li>
        </ul>
    </div>
</div>
<div class="clearfix"></div>
<div class="playerArea"></div>
